body {
  background: black;
}

#lay1 {
  position: fixed;
  inset: 10px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 94vw 72vh 0px 0px white, 9vw 68vh 0px 0px white, 49vw 37vh 0px 0px white, 90vw 99vh 0px 0px white, 74vw 95vh 0px 0px white, 5vw 81vh 0px 0px white, 13vw 69vh 0px 0px white, 44vw 39vh 0px 0px white, 29vw 97vh 0px 0px white, 45vw 49vh 0px 0px white, 71vw 25vh 0px 0px white, 38vw 69vh 0px 0px white, 92vw 4vh 0px 0px white, 80vw 26vh 0px 0px white, 95vw 7vh 0px 0px white, 62vw 65vh 0px 0px white, 45vw 55vh 0px 0px white, 14vw 57vh 0px 0px white, 13vw 10vh 0px 0px white, 53vw 43vh 0px 0px white, 35vw 46vh 0px 0px white, 14vw 1vh 0px 0px white, 69vw 3vh 0px 0px white, 57vw 16vh 0px 0px white, 14vw 44vh 0px 0px white, 54vw 66vh 0px 0px white, 84vw 62vh 0px 0px white, 30vw 82vh 0px 0px white, 77vw 96vh 0px 0px white, 51vw 83vh 0px 0px white, 29vw 91vh 0px 0px white, 74vw 30vh 0px 0px white, 50vw 85vh 0px 0px white, 13vw 79vh 0px 0px white, 10vw 74vh 0px 0px white, 97vw 31vh 0px 0px white, 31vw 87vh 0px 0px white, 97vw 85vh 0px 0px white, 20vw 84vh 0px 0px white, 36vw 26vh 0px 0px white, 99vw 33vh 0px 0px white, 40vw 89vh 0px 0px white, 16vw 82vh 0px 0px white, 84vw 93vh 0px 0px white, 4vw 58vh 0px 0px white, 65vw 70vh 0px 0px white, 76vw 59vh 0px 0px white, 61vw 35vh 0px 0px white, 89vw 84vh 0px 0px white, 27vw 46vh 0px 0px white, 14vw 76vh 0px 0px white, 69vw 96vh 0px 0px white, 53vw 59vh 0px 0px white, 15vw 86vh 0px 0px white, 63vw 32vh 0px 0px white, 79vw 52vh 0px 0px white, 21vw 3vh 0px 0px white, 20vw 99vh 0px 0px white, 34vw 36vh 0px 0px white, 92vw 95vh 0px 0px white, 82vw 7vh 0px 0px white, 31vw 35vh 0px 0px white, 1vw 53vh 0px 0px white, 86vw 6vh 0px 0px white, 46vw 54vh 0px 0px white, 86vw 94vh 0px 0px white, 42vw 46vh 0px 0px white, 53vw 75vh 0px 0px white, 77vw 33vh 0px 0px white, 51vw 79vh 0px 0px white, 82vw 44vh 0px 0px white, 57vw 73vh 0px 0px white, 23vw 5vh 0px 0px white, 40vw 92vh 0px 0px white, 10vw 88vh 0px 0px white, 96vw 68vh 0px 0px white, 33vw 86vh 0px 0px white, 42vw 7vh 0px 0px white, 79vw 89vh 0px 0px white, 68vw 81vh 0px 0px white, 45vw 94vh 0px 0px white, 33vw 90vh 0px 0px white, 91vw 12vh 0px 0px white, 39vw 82vh 0px 0px white, 2vw 95vh 0px 0px white, 42vw 63vh 0px 0px white, 28vw 86vh 0px 0px white, 98vw 84vh 0px 0px white, 95vw 42vh 0px 0px white, 24vw 34vh 0px 0px white, 4vw 12vh 0px 0px white, 5vw 53vh 0px 0px white, 86vw 22vh 0px 0px white, 90vw 25vh 0px 0px white, 17vw 78vh 0px 0px white, 63vw 78vh 0px 0px white, 25vw 62vh 0px 0px white, 6vw 65vh 0px 0px white, 33vw 27vh 0px 0px white, 27vw 83vh 0px 0px white, 69vw 24vh 0px 0px white, 89vw 74vh 0px 0px white, 60vw 18vh 0px 0px white, 53vw 59vh 0px 0px white, 79vw 94vh 0px 0px white, 1vw 89vh 0px 0px white, 84vw 81vh 0px 0px white, 76vw 41vh 0px 0px white, 38vw 32vh 0px 0px white, 57vw 59vh 0px 0px white, 0vw 26vh 0px 0px white, 83vw 43vh 0px 0px white, 22vw 2vh 0px 0px white, 38vw 41vh 0px 0px white, 9vw 58vh 0px 0px white, 20vw 49vh 0px 0px white, 56vw 9vh 0px 0px white, 56vw 6vh 0px 0px white, 83vw 35vh 0px 0px white, 6vw 10vh 0px 0px white, 45vw 71vh 0px 0px white, 95vw 68vh 0px 0px white, 35vw 54vh 0px 0px white, 92vw 90vh 0px 0px white, 57vw 62vh 0px 0px white, 69vw 41vh 0px 0px white, 16vw 31vh 0px 0px white, 88vw 68vh 0px 0px white, 96vw 60vh 0px 0px white, 38vw 65vh 0px 0px white, 25vw 13vh 0px 0px white, 0vw 86vh 0px 0px white, 42vw 31vh 0px 0px white, 75vw 22vh 0px 0px white, 22vw 56vh 0px 0px white, 25vw 21vh 0px 0px white, 45vw 1vh 0px 0px white, 3vw 57vh 0px 0px white, 4vw 15vh 0px 0px white, 15vw 1vh 0px 0px white, 90vw 52vh 0px 0px white, 18vw 7vh 0px 0px white, 31vw 74vh 0px 0px white, 2vw 99vh 0px 0px white, 76vw 28vh 0px 0px white, 98vw 15vh 0px 0px white, 31vw 59vh 0px 0px white, 95vw 33vh 0px 0px white, 6vw 57vh 0px 0px white, 34vw 15vh 0px 0px white, 43vw 24vh 0px 0px white, 18vw 14vh 0px 0px white, 46vw 37vh 0px 0px white, 20vw 55vh 0px 0px white, 7vw 99vh 0px 0px white, 28vw 78vh 0px 0px white, 27vw 2vh 0px 0px white, 92vw 89vh 0px 0px white, 43vw 93vh 0px 0px white, 7vw 81vh 0px 0px white, 75vw 44vh 0px 0px white, 24vw 32vh 0px 0px white, 20vw 96vh 0px 0px white, 70vw 58vh 0px 0px white, 1vw 89vh 0px 0px white, 49vw 61vh 0px 0px white, 88vw 72vh 0px 0px white, 7vw 5vh 0px 0px white, 6vw 22vh 0px 0px white, 22vw 84vh 0px 0px white, 21vw 37vh 0px 0px white, 99vw 45vh 0px 0px white, 85vw 52vh 0px 0px white, 68vw 97vh 0px 0px white, 42vw 2vh 0px 0px white, 4vw 4vh 0px 0px white, 75vw 13vh 0px 0px white, 68vw 42vh 0px 0px white, 58vw 88vh 0px 0px white, 85vw 8vh 0px 0px white, 99vw 48vh 0px 0px white, 47vw 0vh 0px 0px white, 9vw 79vh 0px 0px white, 47vw 18vh 0px 0px white, 22vw 75vh 0px 0px white, 51vw 78vh 0px 0px white, 49vw 21vh 0px 0px white, 10vw 86vh 0px 0px white, 2vw 20vh 0px 0px white, 30vw 31vh 0px 0px white, 7vw 5vh 0px 0px white, 89vw 20vh 0px 0px white, 82vw 35vh 0px 0px white, 62vw 25vh 0px 0px white, 72vw 39vh 0px 0px white, 16vw 92vh 0px 0px white, 56vw 16vh 0px 0px white, 75vw 66vh 0px 0px white, 3vw 90vh 0px 0px white, 65vw 9vh 0px 0px white;
  animation: moveUp 200s linear infinite;
}
#lay1::after {
  content: "";
  position: inherit;
  left: 0px;
  top: 100vh;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: inherit;
}

#lay2 {
  position: fixed;
  inset: 10px;
  width: 1.8px;
  height: 1.8px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 99vw 92vh 0px 0px white, 68vw 32vh 0px 0px white, 82vw 96vh 0px 0px white, 48vw 54vh 0px 0px white, 74vw 26vh 0px 0px white, 95vw 44vh 0px 0px white, 38vw 47vh 0px 0px white, 23vw 28vh 0px 0px white, 91vw 20vh 0px 0px white, 7vw 36vh 0px 0px white, 87vw 98vh 0px 0px white, 95vw 51vh 0px 0px white, 93vw 96vh 0px 0px white, 20vw 18vh 0px 0px white, 10vw 10vh 0px 0px white, 40vw 42vh 0px 0px white, 14vw 15vh 0px 0px white, 48vw 9vh 0px 0px white, 68vw 63vh 0px 0px white, 15vw 97vh 0px 0px white, 49vw 42vh 0px 0px white, 73vw 28vh 0px 0px white, 60vw 71vh 0px 0px white, 7vw 31vh 0px 0px white, 72vw 56vh 0px 0px white, 2vw 60vh 0px 0px white, 55vw 48vh 0px 0px white, 15vw 67vh 0px 0px white, 5vw 47vh 0px 0px white, 86vw 78vh 0px 0px white, 3vw 18vh 0px 0px white, 72vw 99vh 0px 0px white, 6vw 98vh 0px 0px white, 10vw 43vh 0px 0px white, 35vw 10vh 0px 0px white, 87vw 16vh 0px 0px white, 14vw 89vh 0px 0px white, 70vw 63vh 0px 0px white, 20vw 49vh 0px 0px white, 4vw 33vh 0px 0px white, 7vw 53vh 0px 0px white, 18vw 17vh 0px 0px white, 65vw 46vh 0px 0px white, 77vw 3vh 0px 0px white, 8vw 53vh 0px 0px white, 13vw 55vh 0px 0px white, 61vw 42vh 0px 0px white, 80vw 86vh 0px 0px white, 31vw 92vh 0px 0px white, 53vw 33vh 0px 0px white, 82vw 73vh 0px 0px white, 28vw 83vh 0px 0px white, 46vw 7vh 0px 0px white, 97vw 77vh 0px 0px white, 92vw 65vh 0px 0px white, 39vw 10vh 0px 0px white, 85vw 59vh 0px 0px white, 37vw 78vh 0px 0px white, 2vw 67vh 0px 0px white, 49vw 62vh 0px 0px white, 10vw 30vh 0px 0px white, 84vw 51vh 0px 0px white, 65vw 28vh 0px 0px white, 12vw 91vh 0px 0px white, 85vw 24vh 0px 0px white, 74vw 32vh 0px 0px white, 30vw 68vh 0px 0px white, 26vw 52vh 0px 0px white, 65vw 69vh 0px 0px white, 81vw 95vh 0px 0px white, 58vw 88vh 0px 0px white, 26vw 27vh 0px 0px white, 14vw 32vh 0px 0px white, 99vw 1vh 0px 0px white, 65vw 99vh 0px 0px white, 51vw 65vh 0px 0px white, 25vw 79vh 0px 0px white, 68vw 19vh 0px 0px white, 43vw 84vh 0px 0px white, 48vw 17vh 0px 0px white, 97vw 76vh 0px 0px white, 73vw 8vh 0px 0px white, 10vw 16vh 0px 0px white, 30vw 85vh 0px 0px white, 18vw 35vh 0px 0px white, 35vw 96vh 0px 0px white, 14vw 18vh 0px 0px white, 0vw 82vh 0px 0px white, 95vw 61vh 0px 0px white, 58vw 11vh 0px 0px white, 28vw 5vh 0px 0px white, 55vw 70vh 0px 0px white, 15vw 22vh 0px 0px white, 82vw 61vh 0px 0px white, 55vw 80vh 0px 0px white, 75vw 13vh 0px 0px white, 8vw 13vh 0px 0px white, 10vw 65vh 0px 0px white, 3vw 80vh 0px 0px white, 88vw 4vh 0px 0px white, 43vw 41vh 0px 0px white, 26vw 18vh 0px 0px white, 96vw 25vh 0px 0px white, 2vw 40vh 0px 0px white, 73vw 36vh 0px 0px white, 71vw 58vh 0px 0px white, 99vw 21vh 0px 0px white, 78vw 75vh 0px 0px white, 62vw 62vh 0px 0px white, 44vw 99vh 0px 0px white, 15vw 95vh 0px 0px white, 62vw 48vh 0px 0px white, 84vw 23vh 0px 0px white, 6vw 53vh 0px 0px white, 1vw 83vh 0px 0px white, 73vw 12vh 0px 0px white, 2vw 86vh 0px 0px white, 42vw 76vh 0px 0px white, 31vw 53vh 0px 0px white, 78vw 15vh 0px 0px white, 61vw 64vh 0px 0px white, 27vw 76vh 0px 0px white, 71vw 22vh 0px 0px white, 71vw 10vh 0px 0px white, 90vw 29vh 0px 0px white, 92vw 84vh 0px 0px white, 50vw 52vh 0px 0px white, 68vw 39vh 0px 0px white, 12vw 65vh 0px 0px white, 39vw 19vh 0px 0px white, 76vw 35vh 0px 0px white, 21vw 83vh 0px 0px white, 82vw 99vh 0px 0px white, 65vw 9vh 0px 0px white, 25vw 65vh 0px 0px white, 99vw 59vh 0px 0px white, 68vw 95vh 0px 0px white, 90vw 14vh 0px 0px white, 91vw 32vh 0px 0px white, 63vw 36vh 0px 0px white, 7vw 40vh 0px 0px white, 36vw 42vh 0px 0px white, 51vw 16vh 0px 0px white, 36vw 38vh 0px 0px white, 60vw 49vh 0px 0px white, 11vw 3vh 0px 0px white, 18vw 66vh 0px 0px white, 0vw 73vh 0px 0px white, 52vw 91vh 0px 0px white, 0vw 24vh 0px 0px white;
  animation: moveUp 160s linear infinite;
}
#lay2::after {
  content: "";
  position: inherit;
  left: 0px;
  top: 100vh;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: inherit;
}

#lay3 {
  position: fixed;
  inset: 10px;
  width: 2.6px;
  height: 2.6px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 48vw 26vh 0px 0px white, 88vw 16vh 0px 0px white, 75vw 76vh 0px 0px white, 49vw 87vh 0px 0px white, 36vw 62vh 0px 0px white, 38vw 12vh 0px 0px white, 58vw 51vh 0px 0px white, 56vw 48vh 0px 0px white, 35vw 84vh 0px 0px white, 69vw 16vh 0px 0px white, 7vw 50vh 0px 0px white, 44vw 29vh 0px 0px white, 58vw 9vh 0px 0px white, 50vw 40vh 0px 0px white, 93vw 92vh 0px 0px white, 98vw 37vh 0px 0px white, 85vw 95vh 0px 0px white, 76vw 45vh 0px 0px white, 56vw 89vh 0px 0px white, 70vw 45vh 0px 0px white, 5vw 62vh 0px 0px white, 23vw 71vh 0px 0px white, 56vw 65vh 0px 0px white, 23vw 30vh 0px 0px white, 16vw 51vh 0px 0px white, 78vw 11vh 0px 0px white, 34vw 6vh 0px 0px white, 60vw 30vh 0px 0px white, 26vw 31vh 0px 0px white, 30vw 43vh 0px 0px white, 68vw 56vh 0px 0px white, 83vw 77vh 0px 0px white, 87vw 57vh 0px 0px white, 8vw 19vh 0px 0px white, 56vw 77vh 0px 0px white, 48vw 21vh 0px 0px white, 51vw 99vh 0px 0px white, 82vw 22vh 0px 0px white, 67vw 2vh 0px 0px white, 64vw 47vh 0px 0px white, 99vw 68vh 0px 0px white, 35vw 59vh 0px 0px white, 88vw 16vh 0px 0px white, 43vw 84vh 0px 0px white, 97vw 22vh 0px 0px white, 92vw 99vh 0px 0px white, 71vw 91vh 0px 0px white, 27vw 94vh 0px 0px white, 81vw 59vh 0px 0px white, 4vw 98vh 0px 0px white, 34vw 93vh 0px 0px white, 84vw 70vh 0px 0px white, 58vw 91vh 0px 0px white, 8vw 3vh 0px 0px white, 9vw 8vh 0px 0px white, 50vw 12vh 0px 0px white, 51vw 28vh 0px 0px white, 72vw 68vh 0px 0px white, 41vw 95vh 0px 0px white, 55vw 75vh 0px 0px white, 17vw 54vh 0px 0px white, 94vw 2vh 0px 0px white, 71vw 53vh 0px 0px white, 63vw 26vh 0px 0px white, 32vw 12vh 0px 0px white, 20vw 1vh 0px 0px white, 84vw 54vh 0px 0px white, 88vw 26vh 0px 0px white, 34vw 16vh 0px 0px white, 37vw 40vh 0px 0px white, 57vw 55vh 0px 0px white, 14vw 2vh 0px 0px white, 42vw 58vh 0px 0px white, 9vw 44vh 0px 0px white, 53vw 42vh 0px 0px white, 94vw 71vh 0px 0px white, 15vw 75vh 0px 0px white, 92vw 19vh 0px 0px white, 77vw 97vh 0px 0px white, 49vw 82vh 0px 0px white, 79vw 99vh 0px 0px white, 82vw 66vh 0px 0px white, 89vw 1vh 0px 0px white, 22vw 27vh 0px 0px white, 16vw 25vh 0px 0px white, 71vw 70vh 0px 0px white, 1vw 42vh 0px 0px white, 69vw 67vh 0px 0px white, 91vw 51vh 0px 0px white, 26vw 29vh 0px 0px white, 25vw 39vh 0px 0px white, 51vw 5vh 0px 0px white, 91vw 17vh 0px 0px white, 30vw 27vh 0px 0px white, 37vw 89vh 0px 0px white, 93vw 0vh 0px 0px white, 56vw 0vh 0px 0px white, 29vw 90vh 0px 0px white, 69vw 30vh 0px 0px white, 46vw 93vh 0px 0px white;
  animation: moveUp 120s linear infinite;
}
#lay3::after {
  content: "";
  position: inherit;
  left: 0px;
  top: 100vh;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: inherit;
}

#lay4 {
  position: fixed;
  inset: 10px;
  width: 3.4px;
  height: 3.4px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 50vw 4vh 0px 0px white, 78vw 91vh 0px 0px white, 43vw 70vh 0px 0px white, 33vw 35vh 0px 0px white, 25vw 74vh 0px 0px white, 36vw 45vh 0px 0px white, 25vw 47vh 0px 0px white, 60vw 39vh 0px 0px white, 19vw 79vh 0px 0px white, 62vw 62vh 0px 0px white, 75vw 22vh 0px 0px white, 21vw 87vh 0px 0px white, 83vw 48vh 0px 0px white, 2vw 85vh 0px 0px white, 26vw 44vh 0px 0px white, 64vw 18vh 0px 0px white, 31vw 59vh 0px 0px white, 24vw 10vh 0px 0px white, 90vw 76vh 0px 0px white, 66vw 27vh 0px 0px white, 75vw 0vh 0px 0px white, 41vw 58vh 0px 0px white, 37vw 33vh 0px 0px white, 34vw 89vh 0px 0px white, 30vw 73vh 0px 0px white, 92vw 18vh 0px 0px white, 62vw 57vh 0px 0px white, 45vw 84vh 0px 0px white, 40vw 84vh 0px 0px white, 21vw 92vh 0px 0px white, 43vw 83vh 0px 0px white, 13vw 73vh 0px 0px white, 66vw 57vh 0px 0px white, 19vw 8vh 0px 0px white, 59vw 50vh 0px 0px white, 85vw 33vh 0px 0px white, 29vw 59vh 0px 0px white, 97vw 78vh 0px 0px white, 48vw 30vh 0px 0px white, 94vw 94vh 0px 0px white, 64vw 58vh 0px 0px white, 35vw 13vh 0px 0px white, 9vw 58vh 0px 0px white, 82vw 87vh 0px 0px white, 15vw 59vh 0px 0px white, 14vw 65vh 0px 0px white, 5vw 57vh 0px 0px white, 1vw 21vh 0px 0px white, 66vw 57vh 0px 0px white, 10vw 25vh 0px 0px white;
  animation: moveUp 80s linear infinite;
}
#lay4::after {
  content: "";
  position: inherit;
  left: 0px;
  top: 100vh;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: inherit;
}

#lay5 {
  position: fixed;
  inset: 10px;
  width: 4.2px;
  height: 4.2px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 35vw 54vh 0px 0px white, 90vw 35vh 0px 0px white;
  animation: moveUp 40s linear infinite;
}
#lay5::after {
  content: "";
  position: inherit;
  left: 0px;
  top: 100vh;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  box-shadow: inherit;
}

@keyframes moveUp {
  to {
    transform: translateY(-100vh);
  }
}

/*# sourceMappingURL=styles.css.map */
